body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: rgb(112, 28, 190);
    list-style: none;
}

.container{
    margin-top: 50px;
}

#input-text{
    width: 280px;
    height: 40px;
    background-color: rgb(195, 173, 216);
    color: rgb(62, 37, 90);
    font-weight: bold;
}

#add-btn{
    width: 70px;
    height: 40px;
    background-color: rgb(62, 37, 90);
    color: rgb(204, 224, 204);
    border-radius: 35px ;
    box-shadow: 1px 4px 10px lavenderblush;
}

#remove_all{
    width: 120px;
    height: 40px;
    background-color: rgb(62, 37, 90);
    color: rgb(204, 224, 204);
    border-radius: 35px ;
    box-shadow: 1px 4px 10px lavenderblush;
}


#store-data{
    background-color: rgb(195, 173, 216);
    height: 500px;
    margin-top: 40px;
    text-align: center;
    color: rgb(62, 37, 90);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn{
    border-bottom: 2px  solid rgb(250, 246, 232);
    color: rgb(62, 37, 90) ;
    font-weight: bold;
}

@media screen and (max-width: 577px) {
    #store-data{
        width: 500px;
    
    }

    #add-btn{
    margin-top: 20px;
    }

    #remove_all{
    margin-top: 20px;
    }
}
